<!DOCTYPE html>
<html>
<head>
    <title>Sua Aplicação</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- Adicione aqui referências a outros scripts se necessário -->

</body>
</html>
